[butler]
name = "switchboard"
port = 8100
description = "Routes incoming messages to specialist butlers"

[butler.db]
name = "butler_switchboard"

[modules.telegram]

[modules.telegram.user]
enabled = false

[modules.telegram.bot]
token_env = "BUTLER_TELEGRAM_TOKEN"

[modules.memory]

[modules.email]

[modules.email.user]
enabled = false

[modules.email.bot]
address_env = "BUTLER_EMAIL_ADDRESS"
password_env = "BUTLER_EMAIL_PASSWORD"
